<mat-dialog-content>
  <div class="details-dialog">
    <mat-icon class="icon-close" fontIcon="close" (click)="close()" />
    <div class="left-panel">
      <swiper-component
        [imageList]="[
          'https://angular.io/assets/images/tutorials/faa/bernard-hermant-CLKGGwIBTaY-unsplash.jpg',
          'https://angular.io/assets/images/tutorials/faa/phil-hearing-IYfp2Ixe9nM-unsplash.jpg',
          'https://angular.io/assets/images/tutorials/faa/bernard-hermant-CLKGGwIBTaY-unsplash.jpg'
        ]"
      />
    </div>
    <div class="right-panel">
      <div class="topic-container">
        <h2>title</h2>
        <div class="article">
          <p>222</p>
          <p>222</p>
          <p>33333</p>
          <p>444</p>
        </div>
        <user-location [date]="1709199456149" region="Chengdu" />
      </div>
      <div class="comment-container">
        <p>Total: 1000 comments</p>
        <user-comment-list />
      </div>
    </div>
  </div>
</mat-dialog-content>
